:root {
    --color-primary: #7A4E33;
    --color-secondary: #0096FF;
    --color-tertiary: #E0035F;
    --color-fourth: #EFF325;
    --color-fifth: #6B0866;
    --font-primary: 'Neue Haas';
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Light.ttf);
    font-family: 'Neue Haas';
    font-weight: normal;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Roman.ttf);
    font-family: 'Neue Haas';
    font-weight: 500;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Mediu.ttf);
    font-family: 'Neue Haas';
    font-weight: 600;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Bold.ttf);
    font-family: 'Neue Haas';
    font-weight: 700;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Black.ttf);
    font-family: 'Neue Haas';
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-primary);
}

.section {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 8rem;
}


/* HEADER */
header {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(img/Chimboteros\ Portada.jpg) no-repeat center;
    background-size: cover;
}

.header__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
    margin-top: 4rem;
}

header div img {
    display: block;
    width: 100%;
}

header div p {
    color: var(--color-primary);
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    line-height: 150%;
}

.nav-container {
    display: block;
    position: fixed;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    top: 0;
    padding: 1.5rem;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

.nav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0 2rem;
}

.nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: var(--color-primary);
    font-weight: 600;
}

.nav i {
    display: none;
}

.nav img[alt="barco"] {
    width: 37px;
    margin-top: -3px;
}

.nav img[alt="tesoro"] {
    width: 27px;
    margin-left: -7px;
}

/* INTRODUCCIÓN */
.s1 {
    justify-content: center;
    background: url(img/Chimboteros\ -\ Fotear.jpg) no-repeat center;
    background-size: cover;
}

.heading {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
}

.heading h2 {
    font-size: 70px;
    font-weight: 600;
}

.heading p {
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    line-height: 150%;
}


/* MARCAS */

.s2 {
    align-items: center;
    flex-direction: column;
}

.s2 img {
    max-width: 95%;
    margin-top: 60px;
}

.s2 img:nth-child(3) {
    display: none;
}

/* FOTEAR */
.s3 {
    background: url(img/Fotear\ -\ Ruta\ Marina.jpg) center;
    background-size: cover;
    padding: 6rem 8rem;
}

.project-heading {
    color: var(--color-primary);
    text-align: center;
    max-width: 400px;
}

.s3 .project-heading {
    max-width: 450px;
    transform: translateX(50%);
    margin-top: 2rem;
}

.project-heading div p:nth-child(1) {
    color: var(--color-tertiary);
    font-size: 18px;
    border: 2px solid var(--color-tertiary);
    border-radius: 50px;
    display: inline-block;
    padding: 0.5px 17px;
    font-weight: 600;
}

.project-heading div h2 {
    font-size: 73px;
    font-weight: 600;
    margin: 5px 0;
}

.project-heading div p:nth-child(3) {
    font-size: 33px;
    font-style: italic;
    margin-top: -5px;
}

.project-heading > p {
    font-size: 34px;
    margin: 15px 0;
}

.btn {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -1px;
}

.btn--pink {
    color: var(--color-tertiary);
}

/* GUSTAR */ 
.s4 {
    background: url(img/Gustar\ Portada.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: 6rem;
}

.btn--yellow {
    color: var(--color-fourth);
}

.s4 .project-heading {
    color: white;
    max-width: 800px;
}

.s4 .project-heading div p:first-child {
    color: var(--color-fourth);
    border-color: var(--color-fourth);
}

/* VIVA */
.s5 {
    background: url(img/Proyecto\ Viva\ Portada.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
}

.s5 .project-heading {
    max-width: 750px;
}

/* FILIN */
.s6 {
    background: url(img/Proyecto\ Aldea\ portada.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
}

.s6 .project-heading {
    max-width: 450px;
    color: white;
}

.s6 .project-heading div p:first-child {
    color: #4BB4B5;
    border-color: #4BB4B5;
}

.proximamente {
    display: inline-block;
    font-size: 23px;
    font-weight: 600;
    text-decoration: none;
    color: #4BB4B5;
    margin-top: 30px;
}

/* LINDO */
.s7 {
    background: url(img/Proyecto\ Lindo\ Portada.jpg);
    background-size: cover;
    justify-content: center;
}

.s7 .project-heading {
    max-width: 530px;
    color: white;
}

.s7 .project-heading div p:first-child {
    color: var(--color-fourth);
    border: 1.5px solid var(--color-fourth);
    font-weight: 500;
}

.s7 .proximamente {
    color: var(--color-fourth);
    margin-top: 15px;
}

/* CREAR */
.section-crear {
    background: url(img/Crear\ Portada.jpg) no-repeat center;
    background-size: cover;
}

.section-crear .project-heading {
    max-width: 600px;
    color: white;
    transform: translateY(37%) translateX(10%);
}

.section-crear div p:first-child {
    color: var(--color-fifth);
    border-color: var(--color-fifth);
    font-size: 25px;
    font-weight: 500;
}

.section-crear .proximamente {
    color: var(--color-fifth);
    font-weight: 500;
    font-size: 27px;
    margin-top: 0;
}

/* PROCESO INNOVADOR */
.s8 {
    background-color: #F2F2F2;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.s8__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.s8__images img {
    margin: 0 20px;
    height: 85%;
}

/* PRODUCTOS CULTURALES */
.s9 {
    height: auto;
    flex-direction: column;
    align-items: center;
    padding: 8rem 8rem 0;
}

.s9__banner {
    width: 1400px;
    height: 500px;
    background: url(img/Tesoros\ Escondidos\ Plataforma.jpg) no-repeat center;
    background-size: cover;
    margin: 60px auto 30px;
    padding: 4rem 10rem;
    display: flex;
    justify-content: flex-end;
}

.s9__banner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.s9__banner div h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--color-primary);
}

.s9__banner div img {
    width: 100%;
}

.s9__banner div img:nth-child(2) {
    margin: 30px 0;
}

.s9__banner div p {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.s9__banner div img:nth-child(4) {
    width: 70%;
}

/* GALERÍA */
.gallery {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
}

.gallery__item:nth-child(1),
.gallery__item:nth-child(3),
.gallery__item:nth-child(5) {
    margin-right: 30px;
}

.gallery__item img {
    width: 100%;
}

.gallery__item {
    background-position: center;
    background-size: cover;
    height: 550px;
    padding: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.gallery__item div h2 {
    font-size: 50px;
    font-weight: 600;
}

.gallery__item div p {
    font-size: 20px;
    font-weight: 500;
}

.gallery__item--1 {
    background-image: url(img/Libro\ Tesoros\ Escondidos.jpg);
    align-items: flex-end;
}

.gallery__item--1 div {
    margin-bottom: 10px;
}

.gallery__item--1 div p {
    margin-top: 15px;
}

.gallery__item--2 {
    background-image: url(img/Chimboteros\ -\ Plataforma\ Web.jpg);
    color: var(--color-primary);
}

.gallery__item--2 div h2 {
    margin-bottom: 15px;
} 

.gallery__item--3 {
    background-image: url(img/Evento\ Exposición\ de\ Fotos\ -\ Fotear.jpg);
    align-items: flex-end;
}

.gallery__item--4 {
    background-image: url(img/Pescador\ Chimbotero.jpg);
}

.gallery__item--5 {
    background-image: url(img/Festival\ La\ Ruta\ Del\ Ceviche\ -\ Proyecto\ Gustar.jpg);
}

.gallery__item--6 {
    background-image: url(img/Excursión\ Fotear\ 2016.jpg);
    color: var(--color-primary);
}

.gallery__item--5 div p,
.gallery__item--6 div p {
    margin-top: -5px;
}

/* EQUIPO */
.s10 {
    flex-direction: column;
    align-items: center;
}

.s10 img {
    max-width: 1200px;
    width: 100%;
    margin: 80px 0;
}

.s10 .ec-resp {
    display: none;
}


/* FOOTER */
.s11 {
    background: url(img/Isla\ Blanca.jpg) no-repeat center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
}

.s11 h2 {
    font-size: 60px;
    font-weight: 600;
}

.s11 p {
    font-size: 21px;
    margin: 40px;
}

.s11 img {
    width: 250px;
}


/*RESPONSIVE*/

@media only screen and (max-width: 450px) {

    /* header */
    header {
        background-image: url(img/responsive/Kayak.jpg);
    }

    header div p {
        margin-top: 30px;
    }

    .nav {
        flex-wrap: wrap;
    }

    /* nav */
    .nav ul {
        display: block;
        text-align: center;
        order: 1;
        transition: .3s all ease;
        max-height: 0;
        overflow: hidden;
    }

    .nav ul li {
        margin: 1.5rem 0;
    }

    .nav .hamburger {
        outline: 0;
        border: 0;
        width: 18px;
        order: -1;
        cursor: pointer;
        background-color: transparent;
    }

    .nav .hamburger i {
        display: block;
        font-size: 18px;
        color: var(--color-primary);
    }
    

    /* section-general */
    .section {
        padding: 2rem;
    }

    .section p {
        font-size: 18px;
    }

    .section h2 {
        font-size: 32px;
    }

    .s1 {
        height: 70vh;
    }

    .s2,
    .s8,
    .s10 {
        height: auto;
    }

    /* heading */
    .heading p {
        font-size: 15px;
        margin-top: 10px;
    }

    .heading h2 {
        font-size: 30px;
    }

    /* sections */
    .s1 {
        background-image: url(img/responsive/Expedición\ Fotear.jpg);
    }

    .s2 img:nth-child(2) {display: none;}
    .s2 img:nth-child(3) {display: block;}

    .s3 {
        background-image: url(img/responsive/Travesía\ en\ el\ mar.jpg);
    }

    .s4 {
        background-image: url(img/responsive/Causa\ Ancashina.jpg);
    }

    .s5 {
        background-image: url(img/responsive/Botes.jpg);
    }

    .s6 {
        background-image: url(img/responsive/Aldea.jpg);
    }

    .s7 {
        background-image: url(img/responsive/Arte\ Popular.jpg);
    }

    .s11 {
        background-image: url(img/responsive/Puerto\ de\ Chimbote.jpg);
        background-position: 100% 0%;
    }

    .s10 .ec-desk {
        display: none;
    }

    .s10 .ec-resp {
        display: block;
    }

    .section .project-heading {
        width: 100%;
        transform: translateX(0); 
        margin-top: 10px;
    }

    .section .project-heading h2 {
        font-size: 40px;
    }

    .section .project-heading div p:nth-child(3) {
        font-size: 23px;
    }

    .section .project-heading div p:nth-child(1) {
        font-size: 15px;
    }

    .btn {
        font-size: 20px;
    }

    .proximamente {
        font-size: 20px;
    }

    .s8__images {
        flex-direction: column;
    }

    .s8__images img {
        width: 100%;
    }

    .s8__images img:not(:last-child) {
        margin-bottom: 2rem;
    }

    .s9__banner {
        width: 100%;
        height: 530px;
        display: flex;
        align-items: start;
        justify-content: center;
        background-position: 0 100%;
        background-size: 167%;
        background-color: #ECECEC;
        padding-bottom: 30px;
    }

    .s9__banner > div > h2 {
        font-size: 35px;
    }

    .s9__banner div img:nth-child(2) {
        width: 200px;
        margin: 20px 0;
    }

    .s9__banner div p {
        margin: 0 0 10px;
    }

    /* .s9__banner div img:nth-child(4)::after {
        content: "\00a0 ";
    }  */

    .gallery {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }

    .gallery__item {
        width: 100%;
        height: 340px;
        padding: 20px;
    }

    .gallery__item div h2 {
        font-size: 30px;
        margin: 0;
    }

    .gallery__item div p {
        font-size: 15px;
        margin: 3px 0;
    }

    .gallery__item--3 {
        background-position: 5% 100%;
    }

    .gallery__item--6 {
        background-position: 73% 100%;
    }

    .s11 {
        text-align: center;
        line-height: 1.5;
    }

    .s11 img {
        width: 200px;
    }
}