:root {
    --color-primary: #82503D;
    --color-secondary: #0096FF;
    --color-tertiary: #E0035F;
    --color-fourth: #EFF325;
    --font-primary: 'Neue Haas';
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Light.ttf);
    font-family: 'Neue Haas';
    font-weight: normal;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Roman.ttf);
    font-family: 'Neue Haas';
    font-weight: 500;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Mediu.ttf);
    font-family: 'Neue Haas';
    font-weight: 600;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Bold.ttf);
    font-family: 'Neue Haas';
    font-weight: 700;
}

@font-face {
    src: url(fonts/NeueHaasDisplay-Black.ttf);
    font-family: 'Neue Haas';
    font-weight: 800;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
}

.section {
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 8rem;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    background: url(img/Chimboteros\ Portada.jpg) no-repeat center;
    background-size: cover;
}

header div {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 818px;
    margin-top: 3rem;
}

header div img {
    display: block;
    width: 80%;
}

header div p {
    color: var(--color-primary);
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin-top: 50px;
    line-height: 150%;
}

/* INTRODUCCIÓN */
.s1 {
    justify-content: center;
    background: url(img/Chimboteros\ -\ Fotear.jpg) no-repeat center;
    background-size: cover;
}

.heading {
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 850px;
    margin: 0 auto;
}

.heading h2 {
    font-size: 70px;
    font-weight: 600;
}

.heading p {
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    line-height: 150%;
}


/* MARCAS */

.s2 {
    align-items: center;
    flex-direction: column;
}

.s2 img {
    max-width: 95%;
    margin-top: 60px;
}

.s2 img:nth-child(3) {
    display: none;
}

/* FOTEAR */
.s3 {
    background: url(img/Fotear\ -\ Ruta\ Marina.jpg) center;
    background-size: cover;
    padding: 6rem 8rem;
}

.project-heading {
    color: var(--color-primary);
    text-align: center;
    max-width: 400px;
}

.s3 .project-heading {
    max-width: 450px;
    transform: translateX(50%);
    margin-top: 2rem;
}

.project-heading div p:nth-child(1) {
    color: var(--color-tertiary);
    font-size: 18px;
    border: 2px solid var(--color-tertiary);
    border-radius: 50px;
    display: inline-block;
    padding: 0.5px 17px;
    font-weight: 600;
}

.project-heading div h2 {
    font-size: 73px;
    font-weight: 600;
    margin: 5px 0;
}

.project-heading div p:nth-child(3) {
    font-size: 33px;
    font-style: italic;
    margin-top: -5px;
}

.project-heading > p {
    font-size: 34px;
    margin: 15px 0;
}

.btn {
    font-family: var(--font-primary);
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: -1px;
}

.btn--pink {
    color: var(--color-tertiary);
}

/* GUSTAR */ 
.s4 {
    background: url(img/Proyecto\ Gustar\ Portada.jpg);
    background-size: cover;
}

.btn--yellow {
    color: var(--color-fourth);
}

.s4 .project-heading {
    color: white;
    transform: translateX(15%);
    margin-top: 5rem;
}

.s4 .project-heading div p:first-child {
    color: var(--color-fourth);
    border-color: var(--color-fourth);
}

/* VIVA */
.s5 {
    background: url(img/Proyecto\ Viva\ Portada.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
}

.s5 .project-heading {
    max-width: 750px;
}

/* FILIN */
.s6 {
    background: url(img/Proyecto\ Filin\ portada.jpg) no-repeat center;
    background-size: cover;
    justify-content: center;
}

.s6 .project-heading {
    max-width: 450px;
    color: white;
}

.s6 .project-heading div p:first-child {
    color: #4BB4B5;
    border-color: #4BB4B5;
}

.proximamente {
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    text-decoration: none;
    color: #4BB4B5;
    margin-top: 30px;
}

/* LINDO */
.s7 {
    background: url(img/Proyecto\ Lindo\ Portada.jpg);
    background-size: cover;
    justify-content: center;
}

.s7 .project-heading {
    max-width: 530px;
    color: white;
}

.s7 .project-heading div p:first-child {
    color: var(--color-fourth);
    border: 1.5px solid var(--color-fourth);
    font-weight: 500;
}

.s7 .proximamente {
    color: var(--color-fourth);
    font-weight: 400;
    margin-top: 15px;
}

/* PROCESO INNOVADOR */
.s8 {
    background-color: #F2F2F2;
    flex-direction: column;
    align-items: center;
    padding: 5rem;
}

.s8__images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.s8__images img {
    margin: 0 20px;
    height: 85%;
}

/* PRODUCTOS CULTURALES */
.s9 {
    height: auto;
    flex-direction: column;
    align-items: center;
}

.s9__banner {
    width: 1400px;
    height: 500px;
    background: url(img/Tesoros\ Escondidos\ Plataforma.jpg) no-repeat center;
    background-size: cover;
    margin: 60px auto 30px;
    padding: 4rem 10rem;
    display: flex;
    justify-content: flex-end;
}

.s9__banner div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.s9__banner div h2 {
    font-size: 50px;
    font-weight: 600;
    color: var(--color-primary);
}

.s9__banner div img {
    width: 100%;
}

.s9__banner div img:nth-child(2) {
    margin: 30px 0;
}

.s9__banner div p {
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}

.s9__banner div img:nth-child(4) {
    width: 70%;
}

/* GALERÍA */
.gallery {
    max-width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.gallery__item {
    width: calc(50% - 15px);
    margin-bottom: 30px;
}

.gallery__item:nth-child(1),
.gallery__item:nth-child(3),
.gallery__item:nth-child(5) {
    margin-right: 30px;
}

.gallery__item img {
    width: 100%;
}

.gallery__item {
    background-position: center;
    background-size: cover;
    height: 550px;
    padding: 3rem;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}

.gallery__item div h2 {
    font-size: 50px;
    font-weight: 600;
}

.gallery__item div p {
    font-size: 20px;
    font-weight: 500;
}

.gallery__item--1 {
    background-image: url(img/Chimboteros\ 09-01.jpg);
    align-items: flex-end;
}

.gallery__item--1 div {
    margin-bottom: 10px;
}

.gallery__item--1 div p {
    margin-top: 15px;
}

.gallery__item--2 {
    background-image: url(img/Chimboteros\ 09-02.jpg);
    color: var(--color-primary);
}

.gallery__item--2 div h2 {
    margin-bottom: 15px;
} 

.gallery__item--3 {
    background-image: url(img/Chimboteros\ 09-03.jpg);
    align-items: flex-end;
}

.gallery__item--4 {
    background-image: url(img/Chimboteros\ 09-04.jpg);
}

.gallery__item--5 {
    background-image: url(img/Chimboteros\ 09-05.jpg);
}

.gallery__item--6 {
    background-image: url(img/Chimboteros\ 09-06.jpg);
    color: var(--color-primary);
}

.gallery__item--5 div p,
.gallery__item--6 div p {
    margin-top: -5px;
}

/* EQUIPO */
.s10 {
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.s10 img {
    width: 1200px;
    margin: 80px 0;
}

/* FOOTER */
.s11 {
    background: url(img/Isla\ Blanca.jpg) no-repeat center;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    color: var(--color-primary);
}

.s11 h2 {
    font-size: 60px;
    font-weight: 600;
}

.s11 p {
    font-size: 21px;
    margin: 40px;
}

.s11 img {
    width: 250px;
}


/*RESPONSIVE*/

@media only screen and (max-width: 450px) {
    header {
        background-position: 100%;
    }
    
    header .logo {
        width: 100%;
    }

    header div p {
        margin-top: 20px;
    }

    .section {
        padding: 2rem;
    }

    .section p {
        font-size: 18px;
    }

    .section h2 {
        font-size: 32px;
    }

    .s3,
    .s4,
    .s5,
    .s6,
    .s7 {
        height: 70vh;
    }

    .s2,
    .s8,
    .s10 {
        height: auto;
    }

    .s2 img:nth-child(2) {
        display: none;
    }

    .s2 img:nth-child(3) {
        display: block;
    }

    .s3 {
        background-position: 69% 100%;
    }

    .s4 {
        background-position: 10% 100%;
    }

    .s7 {
        background-position: 50% 100%;
    }

    .section .project-heading {
        width: 100%;
        transform: translateX(0); 
        margin-top: 10px;
    }

    .section .project-heading h2 {
        font-size: 40px;
    }

    .section .project-heading div p:nth-child(3) {
        font-size: 23px;
    }

    .section .project-heading div p:nth-child(1) {
        font-size: 15px;
    }

    .btn {
        font-size: 20px;
    }

    .proximamente {
        font-size: 20px;
    }

    .s8__images {
        flex-direction: column;
    }

    .s8__images img {
        width: 100%;
    }

    .s8__images img:not(:last-child) {
        margin-bottom: 2rem;
    }

    .s9__banner {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-position: 100% 100%;
    }

    .s9__banner > div > h2 {
        font-size: 45px;
    }

    .gallery {
        width: 100%;
        flex-direction: column;
        margin: 0 auto;
    }

    .gallery__item {
        width: 100%;
        height: 450px;
        padding: 20px;
    }

    .gallery__item div h2 {
        font-size: 32px;
        margin: 0;
    }

    .gallery__item div p {
        font-size: 18px;
        margin: 3px 0;
    }

    .gallery__item--3 {
        background-position: 5% 100%;
    }

    .gallery__item--6 {
        background-position: 73% 100%;
    }

    .s10 img {
        width: 100%;
    }

    .s11 {
        text-align: center;
        line-height: 1.5;
    }

    .s11 img {
        width: 200px;
    }
}