@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-XThin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Roman.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Mediu.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Black.ttf);
  font-weight: 700;
}