@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-XThin.ttf);
  font-weight: 200;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Roman.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Mediu.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Bold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: 'Neue Haas Display';
  src: url(/fonts/NeueHaasDisplay-Black.ttf);
  font-weight: 700;
}

.brand-section {
  @apply h-screen90 w-11/12 xl:w-10/12 mx-auto bg-cover bg-center bg-no-repeat my-12 xl:my-28;
}

.form-label {
  @apply text-white inline-block mb-1 text-base xl:text-xl;
}